body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 1050px;
    margin: auto;
    padding-inline: 20px;
}

.scroller {
    margin: auto;
}

.scroller-inner {
    display: flex;
    gap: 1rem;
    padding-block: 2rem;
}

.birthdaycombos .scroller img {
    border-radius: 20px;
    max-width: 300px;
    cursor: pointer;
}

.scroller h1 {
    position: relative;
    font-weight: 300;
}

.newon h1 {
    font-weight: 300;
}

.newon>div {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    max-width: 100%;
}

.newon>div img {
    max-width: 335px;
    border-radius: .9rem;
    cursor: pointer;
}

.topcategories {
    margin-block: 3rem;
}

.topcategories h1 {
    font-weight: 300;
}

.categories {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.categories::-webkit-scrollbar {
    display: none;
}

.newon>div::-webkit-scrollbar {
    display: none;
}

.categories div {
    max-width: 230px;
    cursor: col-resize;
}

.categories img {
    max-width: 230px;
    border-radius: .9rem;
}

h1 {
    animation: a1 .1ms forwards;
    animation-timeline: view();
    transition: transform .1ms ease-in-out;
}

@keyframes a1 {
    0% {
        transform: rotateX(180deg) rotateY(180deg) scale(0);
    }
    25%,
    50% {
        opacity: 0;
    }
    75% {
        opacity: .7;
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg) scale(1);
    }
}


/* FOOTER */

footer {
    background-color: #111;
    padding: 20px 0;
    color: #fff;
    font-weight: 300;
}

.footer-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-top,
.footer-middle {
    text-align: center;
}

.footer-top {
    padding-bottom: 20px;
}

.social-icons a {
    margin: 0 20px;
    color: #888;
    font-size: 1.7em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #fff;
}

.footer-middle {
    padding: 35px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.footer-middle a {
    margin: 0 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.footer-middle a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.footer-bottom .links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
}

.footer-bottom h3 {
    color: #fff;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bolder;
}

.footer-bottom .phone {
    margin-bottom: 20px;
}

.footer-bottom .number {
    font-size: 23px;
}

.footer-bottom a {
    color: #888;
    margin-bottom: 5px;
    font-size: 14px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.footer-bottom .time {
    margin-top: 5px;
    color: #888;
    font-weight: bold;
}

.footer-bottom a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

.footer-bottom a[href="https://in.sugarcosmetics.com/careers"]:hover {
    color: #fff;
    text-decoration: none;
}

.app-links {
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 12px 0;
}

.app-links div {
    display: inline-block;
    margin-right: 20px;
}

.app-links h4 {
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 700;
}

.app-links p {
    margin-top: 5px;
    font-size: 18px;
    color: grey;
    margin-right: 80px;
}

.app-links h4::after {
    display: block;
    width: 50%;
    margin: 10px auto;
    border-bottom: 2px solid #333;
}

.app-links img {
    width: 170px;
    height: 50px;
    margin: 0 10px;
    display: inline-block;
}

.footer-bottom-line {
    text-align: center;
    border-top: 1px solid #333;
    padding: 10px 0;
    color: #888;
}